
a{
	color:#333;
	text-decoration:none
}
a:hover{
	color:#ff4b59
}
.wp3{
	max-width:500px;
	height: 200px;
}
.ban{
	padding:180px 0 70px;
	position:relative;
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size:cover;
	background-size:cover;
	text-align:center;
	overflow:hidden;
	width: 375px;
	height:150px
}
.ban h3{
	margin-top:-70px;
	margin-left: -5px;
	font-size:40px;
	font-weight: 800;
	font-family: "新宋体";
	color:#fff
}
.wp3 ul .lili1{
	list-style: none;
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 36px;
	margin-top: 0px;
}
.wp3 ul .lili{
	list-style: none;
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 10px;
	margin-top: 0px;
}
.wp3 ul li a{
	font-size: 22px;
	font-weight: normal;
	color:#fff;
}



.receipt1{
	padding-top: 50px;
	width: 360px;
	max-width: 100%;
	margin: auto;
	position: relative;
}
.receipt2, .receipt3, .receipt4, .receipt5, .receipt6{
  padding-top: 120px;
  width: 360px;
  max-width: 100%;
  margin: auto;
  position: relative;
}
.receipt__half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: white;
  perspective: 1000px;
  box-shadow: 4px 3px 40px rgba(0, 0, 0, 0.3);
}
.receipt__half::after {
  content: "";
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  transition-delay: 0.35s;
}
.active .receipt__half::after {
  transition-delay: 0s;
}
.upper {
  z-index: 10;
  width: 100%;
  height: 240px;
  border-radius: 5px 5px 0 0;
}
.upper::after {
  top: 100%;
  background: #f7f7f7;
  transform: rotate3d(1, 0, 0, -90deg);
  transform-origin: top center;
}
.active .upper::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
}
.lower {
  transition: transform 0.8s ease;
  transition-delay: 0.35s;
  border-radius: 0 0 5px 5px;
}
.lower::after {
  bottom: 100%;
  background: #ebebeb;
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: bottom center;
}
.active .lower {
  border-top: none;
  transform: translateY(100px);
  transition-delay: 0s;
}
.active .lower::after {
  background: white;
  transform: rotate3d(1, 0, 0, 0deg);
}

button {
  width: 100%;
  padding: 15px 20px;
  background: none;
  outline: none;
  border: none;
  color: #888;
  font-size: 20px;
  font-weight: 600;
  transition: all ease 0.35s;
}
button:hover {
  color: #484848;
}
.receipt__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 360px;
  padding: 0px;
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity ease 0.35s, transform ease 0.35s;
  transition-delay: 0s;
}
.active .receipt__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.8s;
}
table {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  font-size: 15px;
}
