*{
	margin-bottom: 0;
	padding: 0;

	
}
a {
	text-decoration: none;
}


#xsquyu{
	border-radius:3px 3px 3px 3px;
	border: 1px solid #DCDCDC;
    width:360px;
	height:290px;
	display: block;  
    margin-left: auto;  
	margin-right: auto;
    margin-top:30px;
	position: relative;
	overflow: hidden;
	white-space:nowrap;
}
#tpquyu{
	border-radius:3px 3px 3px 3px;
	border: 1px solid      #DCDCDC;
    padding: 0px;
	position: absolute;
	width: 300px;
	height: 300px;
}
#box ul li:hover{
    transform: scale(1.15);
}
#box ul li{
	list-style: none; 
	margin-top: 40px;
	margin-left: 30px;
	height: 100px;
	width: 260px;
	border-radius: 25px; /*这句就是重点，让边框变为圆角*/
	background: white;
	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index: 1;
}
#box ul li .box-title{
	width: 140px;
	height: 40px;
	font-size: 30px;
	font-family: "仿宋";
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
	margin-left: 60px;
}
#box ul li .box-sub{
	width: 100px;
	height: 20px;
	font-size: 20px;
	font-family: "楷体";
	color: #808080;
	margin-top: 10px;
	margin-left: 60px;
	
}
#box ul li img{
	margin-top: -15px;
	margin-left: -30px;
	border-radius: 15px;
	float: left;
}
#box .box-go img{
	margin-top: -55px;
	margin-left: 240px;
	border-radius: 20px;
	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
}
#font{
	font-size: 25px;
	font-family: "仿宋";
	font-weight: bold;
	margin-top: 0px;
	text-align: center; 
}


/* 打开和关闭手风琴面板的样式 */
		.accordion1 {
		  margin-top: 80px;
		  margin-left: 30px;
		  border-radius: 40px; /*这句就是重点，让边框变为圆角*/
		  background: white;
		  box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
		  cursor: pointer;
		  padding: 18px;
		  width: 290px;
		  height: 120px;
		  text-align: center;
		  border: none;
		  outline: none;
		  transition: 0.4s;
		  font-size: 60px;
		  font-family: "仿宋";
		  font-weight: bold;
		}
	    .accordion {
	      margin-top: 40px;
	      margin-left: 30px;
	      border-radius: 40px; /*这句就是重点，让边框变为圆角*/
	      background: white;
	      box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
	      cursor: pointer;
	      padding: 18px;
	      width: 290px;
	      height: 120px;
	      text-align: center;
	      border: none;
	      outline: none;
	      transition: 0.4s;
	      font-size: 60px;
	      font-family: "仿宋";
	      font-weight: bold;
	    }
	    .accordion img{
	    	margin-top: -20px;
	    	margin-left: -50px;
	    	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
	    	border-radius: 20px; /*这句就是重点，让边框变为圆角*/
	    	float: left;
	    }
	    .accordion p{
	    	font-size: 15px;
	    	font-weight: 400;
	    	height: 30px;
	    	width: 190px;
	    	margin-top: 30px;
	    	margin-left: 15px;
	    }
	     .accordion1 img{
	     	margin-top: -20px;
	     	margin-left: -50px;
	     	box-shadow: 3px 2px 80px rgba(0, 0, 0, 0.2);
	     	border-radius: 20px; /*这句就是重点，让边框变为圆角*/
	     	float: left;
	     }
	     .accordion1 p{
	     	font-size: 15px;
	     	font-weight: 400;
	     	height: 30px;
	     	width: 190px;
	     	margin-top: 30px;
	     	margin-left: 15px;
	     }
	    /* 为手风琴面板设计样式。 默认隐藏 */
	    .panel {
	      padding: 0 18px;
	      background-color: white;
	      max-height: 0;
	      overflow: hidden;
	      margin-left: 40px;
	      transition: max-height 0.2s ease-out;
	      font-size: 20px;
	    }
	    .panel p{
	    	margin-top: 10px;
	    	font-size: 20px;
	    	font-family: "仿宋";
	    }
	    /* 设置 +、- 标志 */
	    .accordion:after {
	      content: '\002B';  /* Unicode 字符 + 号 */
	      color: #777;
	      font-weight: bold;
	      font-size: 40px;
	      float: right;
	      margin-left: 10px;
	      margin-top: -90px;
	    }
		.accordion1:after {
		  content: '\002B';  /* Unicode 字符 + 号 */
		  color: #777;
		  font-weight: bold;
		  font-size: 40px;
		  float: right;
		  margin-left: 10px;
		  margin-top: -90px;
		}
	     
	    .bobo .active:after { 
	      content: "\2212";  /* Unicode 字符 - 号 */
	    }
		.bobo{
			margin-top: -40px;
			margin-left: 20px;
		}

/* 标题 */
.biaoti {
	margin-top: 80px;
}

.biaoti .biaoti1 {
  width: 300px;
  height: 80px;
  left: 30px;
  margin-top: 2px;
  position: relative;
  background-color: #eaeaea;

}

.biaoti .p1 img{
	width: 20px;
	height: 30px;
	margin-left: 20px;
}
.biaoti .biaoti1 .biaoti2{
	margin-top: -10px;
	text-align: center;
}
.biaoti .biaoti1 .biaoti2 p{
	font-size: 30px;
	font-family: "黑体";
}

.biaoti .biaoti1 .p2{
		margin-top: -60px;
		margin-left: 220px;
}

.biaoti .biaoti1 .p2 img{
	width: 25px;
	height: 30px;

}